<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6 main-column">
                <div class="card">
                    <div class="card-body">
                        <div class="form">
                            <div class="form-group">
                                <label for="">Select an image</label>
                                <input type="file" accept="image/*" class="form-control" (change)="preview($event)">
                            </div>
                            <div class="form-group">
                                <label for="">Top Text</label>
                                <input type="text" name="topText" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Bottom Text</label>
                                <input type="text" name="bottomText" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Text Color</label>
                                        <color-chrome></color-chrome>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Background Color</label>
                                        <color-chrome></color-chrome>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-5">
                                <button class="btn btn-outline-primary" type="button">Download</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <canvas class="main-column canvas" #memeCanvas height="800" width="700"></canvas>
            </div>
        </div>
    </div>
</div>
